body{
	background-image: url("best.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	

}

.me
{
	width:100%;
	height:130px;
	background-color: #000;
	font-style: italic;
	font-size: 95px;
	font-weight: 800; /*to make the font thicker*/
	text-align: center; /*to make text appear in center*/
	color:#58D68D;
	padding-bottom: 0;
}
.me img
{
	width: 130px;
	height: 125px;
	float: left;
	border-radius: 15%;
}
nav
{
width:100%;
height:50px;
margin:auto;
margin-top: 25px;
background-color: black;

}
nav ul{
	list-style-type: none; /*TO REMOVE THE DOT IN NAVIGATION*/
	margin: auto;
	background-color: #87CEFA;

}
nav ul li{
	float: left;
	padding: 10px;
	margin:auto;


}
li a {
	display: inline-block;
	color: green;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
}
li a:hover:not(.hom) {
	background-color: #1E90FF;
}

.hom {
	background-color: green;
}

nav ul li a{
	font-size: 20px;
	padding: 10px;
	color: white;
}
@media screen and (max-width:500px){
	ul.topnav li.right,
	ul.topnav li {float: none;} /*to make responsive navigation*/
}

.free{
	height: 660px;

}

.detail{
width: 500px;
height: 330px;
border:2px solid #000;
float: right;
position: relative;
margin-right: 25px;
margin-top: 25px;



}


.us
{
	margin-top: 10%;
	margin-left: 25px;
}


.form{
 width: 500px;
 height: 330px;
 background-image: url("el.jpg");
 background-size: 100%;
 background-repeat: no-repeat; /*for not repeating the picture multiple times*/
 margin-right: auto;
 margin-left: auto;
 border: 2px solid #000;
 position: absolute;
 top:540px; /*to make the position of the top*/
 right: 410px; /*to make the position of the right*/


}
.form input{
	width: 250px;
	height: 25px;
	margin-left: 15px;
	font-size: 20px; /*size of the font*/

}
.con{
	width: 500px;
 height: 330px;
 background-image: url("elb.jpg");
 background-size:100% 100%;
 background-repeat: no-repeat; /*for having the picture only one time*/
 margin-right: auto;
 margin-left: auto;
 border: 2px solid #000;
 position: absolute;
 top:800px;
 right:820px ;

}


footer 
{
width : 100%;
height : 400px;
margin : auto;
padding : 0;
background : #efefef;
font-family:Comic Sans MS;
}
.secondfooter 
{
height : 80px;
background-color : #000;
color : white;
text-align : center;
padding-top : 25px;

font-family : "Century Gothic";
font-size : 18px;
word-spacing : 3px;
}
.main-footer 
{
background-image : url(rai.jpg);
background-size : cover;
background-attachment : fixed; /* to fixed the backgroud picture of the footer */ 
background-repeat : no-repeat;
padding : 40px;
color :#000;
font-size:24px;
text-align : center;

height : 320px;

}